.TextNodeEditorInput {

    position: absolute;

    background-color: transparent;
    border:none;
    outline:none;
    padding: 0;
    margin: 0; 

    resize: none;

    /*Need to add the matching text and font size here*/
}